@import 'variables'

body, html
  margin 0
  padding 0
  font-family $fontFamily
  font-weight 400
  font-size 24px
  line-height 30px
  letter-spacing -1px

svg, img
  max-width 100%
  display block

a
  text-decoration none
  color $black

p
  min-height 16px

b, strong
  font-weight normal
  font-family $fontFamilySemiBold

h1
  font-weight normal
  font-size 140px
  line-height 140px
  max-width 1000px

  @media (max-width $bp-sm)
    font-size 76px
    line-height 82px

  &.h1-small
    font-size 72px
    line-height 76px
    margin 0

    @media (max-width $bp-sm)
      font-size 56px
      line-height 64px

h2
  font-weight normal
  font-family $fontFamilySemiBold
  font-size 40px
  line-height 46px

.large
  font-size 48px
  line-height 54px
  max-width 930px
  margin 18px 0

  a
    font-family $fontFamilyBold
    position relative
    color inherit

    &:after
      content ''
      width 100%
      position absolute
      bottom 14px
      left 0

  p
    margin 0

  @media (max-width $bp-sm)
    font-size 40px
    line-height 46px

h3
  font-weight normal
  font-family $fontFamilySemiBold
  font-size 32px
  line-height 36px

.nomargin
  white-space pre-line
  margin 1em 0

  p
    margin 0

  br
    margin 1em 0

.click
  cursor pointer

.center
  margin-left auto
  margin-right auto

.hidden
  display none

.page
  padding-top 10vh
  background #EEEDE9

  &:before
    content ''
    position fixed
    width 100%
    height 13vh
    top 0
    left 0
    z-index 2
    // background #EEEDE9
    min-height 62px
    max-height 122px

.window
  padding-bottom 100vh

  &--front
    z-index 1
    position relative
    background $white

.heading
  display flex
  align-items baseline

  @media (max-width $bp-sm)
    display block

.clickable
  cursor pointer

input,
button
  display block
  margin 1em 0
  background none
  border 0
  position relative
  font-family $fontFamily
  padding 0
  outline none
  border-radius 0

input
  border-bottom 1px solid $black
  -webkit-appearance none
  margin-top 1em
  padding 0.45em 0
  font-size 24px
  line-height 32px
  width 100%
  outline none

.form--alt input
  border-color $white

button
  font-family $fontFamilySemiBold
  font-size 40px
  line-height 48px
  margin-left auto
  cursor pointer

.form--alt input,
.form--alt button
  color $white

.form--alt input::-webkit-input-placeholder {
  color $white
}

.green, .green a
  color $green

.orange, .orange a
  color $orange

.blue, .blue a
  color $blue

.arrowLink
  position relative
  display flex
  align-items center
  justify-content center

  &:after
    content ''
    width 62px
    height 48px
    background url(/images/arrow.svg) no-repeat 50%
    background-size 100%
    flex-shrink 0
    margin-left 20px
    transition 0.4s transform $ease

  &:hover:after
    transform translateX(20px)

  &--small:after
    width 36px
    height 28px

  &--hover
    justify-content left

    &:after
      opacity 0
      transform rotateZ(-45deg)
      margin-left 10px
      width 20px
      height 20px
      transition 0.2s opacity $ease

  &--hover:hover:after
    opacity 1
    transform rotateZ(-45deg)

.fade
  opacity 1
  transform translateY(0)
  transition 0.6s opacity $ease, 0.6s transform $ease

.fadeIn
  opacity 0 !important
  transform translateY(100px) !important