$primary   = #01485F;
$secondary = #E8DEDD;
$tertiary  = #F3A72E;

$green     = #5BC48B;
$blue      = #3DA7EC;
$purple    = #BB9DE9;
$orange    = #FF6A56;

$positive  = $orange;
$negative  = #C10015;
$info      = #31CCEC;
$warning   = #F2C037;

$black     = #000;

$grey-10   = #F7F9FA;
$grey-20   = #F1F3F4;
$grey-30   = #E3E5E5;
$grey-40   = #C6CACC;
$grey-60   = #919699;
$grey-80   = #5E6366;
$grey-90   = #3E4345;
$grey      = $grey-40;
$darkGrey  = $grey-60;

$white     = #FFF;

$bp-xxs    = 320px;
$bp-xs     = 430px;
$bp-sm     = 1023px;
$bp-md     = 1350px;
$bp-lg     = 1600px;

$fontFamily = 'Whyte-Light', Verdana, sans-serif;
$fontFamilySemiBold = 'Whyte-Regular', Verdana, sans-serif;
$fontFamilyBold = 'Whyte-Medium' , Verdana, sans-serif;

$ease       = cubic-bezier(.11,.98,.57,1);